Repository Limych/ha-gismeteo: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifest, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: manifest
        name: Update manifest.json
        entry: bin/update_manifest
        language: script
        files: ^custom_components/.+/const\.py$
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^(custom_components|bin|tests)/.+\.py$
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.0.2
        files: ^(custom_components|bin|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(custom_components|bin|tests)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        files: ^(custom_components|tests)/.+\.json$
      - id: trailing-whitespace
      # Uncomment lines below if you want to follow classical GitHub flow style development
#      - id: no-commit-to-branch
#        args:
#          - --branch=dev
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: bin/run-in-env mypy
        language: script
        types: [python]
        require_serial: true
        files: ^custom_components/.+\.py$
      - id: pylint
        name: pylint
        entry: bin/run-in-env python3 -m pylint
        language: system
        types: [python]
        # Uncomment lines below to test code on every commit
      - id: pytest
        name: pytest
        entry: bin/run-in-env pytest
        language: system
        pass_filenames: false
        always_run: true

Migrate weather entity to native_* (fix #132)
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/weather.py
  hacs.json
  requirements.txt
Due: manifest, mypy, pylint

Bump version to 2.4.1
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: manifest, mypy, pylint

Fix hassfest error 'Do not set title of step user if it's a brand name'
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/translations/en.json
  custom_components/gismeteo/translations/pl.json
  custom_components/gismeteo/translations/pt-BR.json
  custom_components/gismeteo/translations/ru.json
Due: manifest, mypy, pylint

Add ability to show and hide weather station position on map (#134)
  README.md
  custom_components/gismeteo/api.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/entity.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/translations/en.json
  custom_components/gismeteo/translations/pl.json
  custom_components/gismeteo/translations/pt-BR.json
  custom_components/gismeteo/translations/ru.json
  custom_components/gismeteo/weather.py
  tests/const.py
  tests/test_api.py
  tests/test_config_flow.py
  tests/test_entity.py
  tests/test_sensor.py
  tests/test_weather.py
Due: manifest, mypy, pylint

Bump version to 2.5.0
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: manifest, mypy, pylint

Fix error in README.md
  README.md
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: manifest, mypy, pylint

Update tests
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/api.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/entity.py
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/translations/sensor.pt-BR.json
  custom_components/gismeteo/weather.py
  tests/test__init.py
  tests/test_api.py
  tests/test_config_flow.py
  tests/test_entity.py
  tests/test_sensor.py
  tests/test_weather.py
Due: manifest, mypy, pylint

Bump version to 2.5.1
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: manifest, mypy, pylint

Apply blueprint pt.1
  README.md
  README_EXAMPLE.md
  custom_components/integration_blueprint/coordinator.py
Due: mypy, pylint

Apply blueprint pt.2
  README.md
Due: none

Update unit tests
  requirements-test.txt
  tests/test_api.py
  tests/test_entity.py
  tests/test_sensor.py
  tests/test_weather.py
Due: pylint

Fix manifest.json
  custom_components/gismeteo/manifest.json
Due: none

Bump version to 2.5.2
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: manifest, mypy, pylint

Compatibility with HomeAssistant 2023.9+
  custom_components/gismeteo/api.py
  custom_components/gismeteo/weather.py
Due: mypy, pylint

fix for 3h sensor
  custom_components/gismeteo/sensor.py
Due: mypy, pylint

Fix Configuration popup for Gismeteo integration
  custom_components/gismeteo/config_flow.py
Due: mypy, pylint

Add return type hint
  custom_components/gismeteo/entity.py
  custom_components/gismeteo/sensor.py
Due: mypy, pylint

Replace deprecated async_timeout
  custom_components/gismeteo/config_flow.py
Due: mypy, pylint

Replace deprecated async_timeout and update cached_property
  custom_components/gismeteo/__init__.py
Due: mypy, pylint

Fix OptionsFlow config_entry attribute error for HA 2025.12+
  custom_components/gismeteo/config_flow.py
Due: mypy, pylint

International domain config in const.py
  custom_components/gismeteo/const.py
Due: manifest, mypy, pylint
