Repository Limych/ha-gismeteo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: bin/run-in-env mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: python3 -m pylint.__main__
  language: system

Add entity initialization tests
  .github/workflows/pre-commit-update.yml
  tests/test_sensor.py
  tests/test_weather.py
Due: pylint

Remaster config via UI
  .devcontainer/configuration.yaml
  README.md
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/translations/en.json
  custom_components/gismeteo/translations/ru.json
  custom_components/gismeteo/weather.py
  info.md
  tests/test_config_flow.py
Due: mypy, pylint

Remaster config via UI
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/translations/en.json
  custom_components/gismeteo/translations/ru.json
  tests/conftest.py
  tests/const.py
  tests/test__init.py
  tests/test_api.py
  tests/test_config_flow.py
  tests/test_sensor.py
Due: mypy, pylint

Fix errors
  .pre-commit-config.yaml
  tests/test_api.py
Due: pylint

Add sensor states translation
  .devcontainer/bootstrap.sh
  README.md
  custom_components/gismeteo/const.py
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/translations/sensor.en.json
  custom_components/gismeteo/translations/sensor.ru.json
  custom_components/gismeteo/translations/sensor.uk.json
  info.md
Due: mypy, pylint

Add pressure mmHg sensor
  README.md
  custom_components/gismeteo/const.py
  custom_components/gismeteo/entity.py
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
  info.md
  tests/test_sensor.py
Due: mypy, pylint

Bump version to 2.2.0
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Create pl.json
  custom_components/gismeteo/translations/pl.json
Due: none

Create sensor.pl.json
  custom_components/gismeteo/translations/sensor.pl.json
Due: none

Update sensor.pl.json
  custom_components/gismeteo/translations/sensor.pl.json
Due: none

Add a sensed air temperature sensor
  .devcontainer/configuration.yaml
  README.md
  custom_components/gismeteo/api.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  tests/fixtures/.gitkeep
  tests/test_api.py
Due: mypy, pylint

Bump version to 2.3.0
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Add sensor of temperature feels like
  README.md
  custom_components/gismeteo/api.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  tests/test_api.py
Due: mypy, pylint

Bump version to 2.3.1
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Remaster YAML config scheme
  .devcontainer/configuration.yaml
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/api.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
  info.md
  tests/conftest.py
  tests/const.py
  tests/test__init.py
  tests/test_api.py
  tests/test_cache.py
  tests/test_config_flow.py
  tests/test_entity.py
  tests/test_sensor.py
  tests/test_weather.py
Due: mypy, pylint

Add allergy birch and UV index
  .devcontainer/configuration.yaml
  .pre-commit-config.yaml
  README.md
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/api.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
  info.md
  requirements.txt
  tests/conftest.py
  tests/fixtures/forecast_parsed.html
  tests/test_api.py
Due: mypy, pylint

Add IoT class to manifest
  custom_components/gismeteo/manifest.json
Due: none

Bump version to 2.3.2
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Fix #42
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/api.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
  tests/const.py
  tests/test_sensor.py
  tests/test_weather.py
Due: mypy, pylint

Bump version to 2.3.3
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Fix errors
  custom_components/gismeteo/__init__.py
Due: mypy, pylint

Fix errors
  tests/test__init.py
Due: pylint

Add unit tests
  tests/const.py
  tests/test__init.py
  tests/test_config_flow.py
  tests/test_entity.py
  tests/test_sensor.py
  tests/test_weather.py
Due: pylint

Add forecast days
  .devcontainer/configuration.yaml
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/api.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/entity.py
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/translations/en.json
  custom_components/gismeteo/translations/ru.json
  custom_components/gismeteo/weather.py
  tests/test__init.py
  tests/test_config_flow.py
  tests/test_entity.py
Due: mypy, pylint

Fix time handling
  custom_components/gismeteo/api.py
Due: mypy, pylint

Update api.py
  custom_components/gismeteo/api.py
Due: mypy, pylint

Fix HTTP_OK constatnt
  custom_components/gismeteo/api.py
Due: mypy, pylint

extra_state_attributes
  custom_components/gismeteo/sensor.py
Due: mypy, pylint

Replace HTTP_OK with http.HTTPStatus
  custom_components/gismeteo/api.py
  tests/test_api.py
Due: mypy, pylint

Add extra_state_attributes
  custom_components/gismeteo/api.py
  custom_components/gismeteo/sensor.py
  tests/test_api.py
  tests/test_sensor.py
Due: mypy, pylint

Bump version to 2.3.4
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Change caching scheme
  custom_components/gismeteo/api.py
  custom_components/gismeteo/cache.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
  tests/test_api.py
Due: mypy, pylint

Bump version to 2.3.5-beta
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Fix last_updated attribute
  custom_components/gismeteo/api.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

added portuguese brazilian language support
  custom_components/gismeteo/translations/pt-BR.json
  custom_components/gismeteo/translations/sensor.pt-BR.json
Due: none

Mark all constants as final
  custom_components/gismeteo/const.py
  tests/const.py
Due: mypy, pylint

Bump version to 2.4.0-beta
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Fix incorrect icon position on map (#127)
  .devcontainer/configuration.yaml
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/api.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/entity.py
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
  tests/fixtures/location.xml
  tests/test_api.py
  tests/test_cache.py
Due: mypy, pylint

Bump version to 2.4.0
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Path conditions:
  mypy: any of: ^custom_components/.+\.py$ and \.py$
  pylint: any of: \.py$
