Repository Limych/ha-gismeteo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: bin/run-in-env mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: python3 -m pylint.__main__
  language: system

Remaster nearest city detection method
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
Due: mypy, pylint

Fix mdi:weather-partlycloudy
  custom_components/gismeteo/const.py
Due: mypy, pylint

Add unit tests
  .github/dependabot.yml
  .github/settings.yml
  .github/workflows/pre-commit-update.yml
  .pre-commit-config.yaml
  bin/bootstrap
  bin/gen_releasenotes
  bin/run-in-env
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/gismeteo.py
  custom_components/gismeteo/sensor.py
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
  setup.cfg
  tests/__init__.py
  tests/bandit.yaml
  tests/fixtures/city_location.xml
  tests/fixtures/forecast_data.xml
  tests/test_gismeteo.py
  tests/test_init.py
Due: mypy, pylint

Fix errors
  .github/workflows/pre-commit-update.yml
  custom_components/gismeteo/manifest.json
Due: none

Add py-test workflow
  .github/workflows/py-test.yml
  tests/test_gismeteo.py
Due: pylint

Fix requirements
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
Due: none

Fix py-test workflow
  .editorconfig
  .github/workflows/py-test.yml
Due: none

Fix errors
  .github/workflows/py-test.yml
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
Due: mypy, pylint

Fix setup
  setup.cfg
Due: none

Fix requirements
  requirements-test.txt
Due: none

Add check_dirty script
  bin/check_dirty
  requirements-test.txt
Due: none

Update README
  .github/workflows/py-test.yml
  README.md
  requirements-test.txt
Due: none

Complete test_gismeteo
  tests/test_gismeteo.py
Due: pylint

Add tests for __init__ and cache
  custom_components/gismeteo/cache.py
  tests/__init__.py
  tests/test_cache.py
  tests/test_init.py
Due: mypy, pylint

Add config flow and rest of tests
  .gitignore
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/gismeteo.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/translations/en.json
  custom_components/gismeteo/translations/ru.json
  custom_components/gismeteo/weather.py
  setup.cfg
  tests/__init__.py
  tests/fixtures/forecast.xml
  tests/fixtures/location.xml
  tests/test_cache.py
  tests/test_gismeteo.py
  tests/test_init.py
  tests/test_sensor.py
  tests/test_weather.py
Due: mypy, pylint

Add water temperature (#12)
  README.md
  custom_components/gismeteo/const.py
  custom_components/gismeteo/gismeteo.py
  tests/test_gismeteo.py
Due: mypy, pylint

Update README
  README.md
Due: none

Remove commented out code
  .github/workflows/py-dead-code.yml
  custom_components/gismeteo/const.py
  custom_components/gismeteo/sensor.py
  setup.cfg
Due: mypy, pylint

Fix errors
  bin/dev-deploy
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/cache.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/gismeteo.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
  tests/__init__.py
  tests/test_init.py
  tests/test_sensor.py
  tests/test_weather.py
Due: mypy, pylint

Fix errors
  custom_components/gismeteo/config_flow.py
Due: mypy, pylint

Update dead code search
  .github/workflows/py-dead-code.yml
  requirements-dev.txt
  requirements-test.txt
  setup.cfg
Due: none

Fix errors
  custom_components/gismeteo/__init__.py
Due: mypy, pylint

Update release script
  bin/release
Due: none

Update release script
  bin/gen_releasenotes
Due: none

Add unit tests (#15)
  .editorconfig
  .github/dependabot.yml
  .github/settings.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/py-dead-code.yml
  .github/workflows/py-test.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  bin/bootstrap
  bin/check_dirty
  bin/dev-deploy
  bin/gen_releasenotes
  bin/release
  bin/run-in-env
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/cache.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/gismeteo.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/translations/en.json
  custom_components/gismeteo/translations/ru.json
  custom_components/gismeteo/weather.py
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
  setup.cfg
  tests/__init__.py
  tests/bandit.yaml
  tests/fixtures/forecast.xml
  tests/fixtures/location.xml
  tests/test_cache.py
  tests/test_gismeteo.py
  tests/test_init.py
  tests/test_sensor.py
  tests/test_weather.py
Due: mypy, pylint

Version bump
  custom_components/gismeteo/manifest.json
Due: none

Fix release notes generation bug
  .github/workflows/release.yml
  custom_components/gismeteo/manifest.json
  info.md
Due: none

Minor code patches.
  .github/settings.yml
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/cache.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/sensor.py
Due: mypy, pylint

Update README.md
  README.md
Due: none

Update component files stucture
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/entity.py
  custom_components/gismeteo/gismeteo.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
  custom_components/integration_blueprint/entity.py
  tests/__init__.py
  tests/test_api.py
  tests/test_config_flow.py
  tests/test_gismeteo.py
  tests/test_init.py
  tests/test_sensor.py
  tests/test_switch.py
  tests/test_weather.py
Due: mypy, pylint

Update component files stucture
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/gismeteo.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Update component files stucture
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/api.py
  custom_components/gismeteo/config_flow.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/entity.py
  custom_components/integration_blueprint/binary_sensor.py
  custom_components/integration_blueprint/sensor.py
  custom_components/integration_blueprint/switch.py
  custom_components/integration_blueprint/translations/en.json
  custom_components/integration_blueprint/translations/fr.json
  custom_components/integration_blueprint/translations/nb.json
  custom_components/integration_blueprint/translations/ru.json
  tests/__init__.py
  tests/conftest.py
  tests/const.py
  tests/test_api.py
  tests/test_config_flow.py
  tests/test_gismeteo.py
  tests/test_init.py
  tests/test_sensor.py
  tests/test_switch.py
  tests/test_weather.py
Due: mypy, pylint

Update component files stucture
  tests/__init__.py
  tests/test_api.py
  tests/test_config_flow.py
  tests/test_init.py
  tests/test_sensor.py
  tests/test_weather.py
Due: pylint

Update component tests
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
  custom_components/gismeteo/sensor.py
  custom_components/gismeteo/weather.py
  hacs.json
  tests/__init__.py
  tests/test_config_flow.py
  tests/test_init.py
  tests/test_sensor.py
  tests/test_weather.py
Due: mypy, pylint

Update component tests
  .devcontainer/configuration.yaml
  README.md
  bin/bootstrap
  bin/dev-deploy
  custom_components/gismeteo/__init__.py
  custom_components/gismeteo/api.py
  custom_components/gismeteo/const.py
  custom_components/gismeteo/entity.py
  custom_components/gismeteo/sensor.py
  requirements.txt
  tests/__init__.py
  tests/bandit.yaml
  tests/conftest.py
  tests/test_api.py
  tests/test_init.py
  tests/test_sensor.py
  tests/test_weather.py
Due: mypy, pylint

Bump version
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Fix errors
  README.md
  custom_components/gismeteo/const.py
  custom_components/gismeteo/manifest.json
Due: mypy, pylint

Path conditions:
  mypy: any of: ^custom_components/.+\.py$ and \.py$
  pylint: any of: \.py$
